$main-color: #6b717f;
$backcolor-success: green;
$backcolor-error: red;
$backcolor-warning: orange;
$h-color: #BF4080;
$main-font: 100% "Space Mono", monospace;
$general-padding: 20px;
$footer-h3-padding-multiplier: 2;