$main-color: #6b717f;
$backcolor-success: green;
$backcolor-error: red;
$backcolor-warning: orange;
$h-color: #BF4080;
$main-font: 100% "Space Mono", monospace;

.alerts {
    border: 1px solid #8C8C8C;
    padding: 16px;
    color: #fff;

    &--success {
        @extend .alerts;
        background-color: $backcolor-success;
    }

    &--error {
        @extend .alerts;
        background-color: $backcolor-error;
    }

    &--warning {
        @extend .alerts;
        background-color: $backcolor-warning;
    }
}



body {
    font: $main-font;
    color: $main-color;
    margin: 0;
    padding: 0;
    background-color: #fff;
    overflow-x: hidden;

    main {
        padding: 0 1em;

        article {
            display: flex;
            flex-wrap: wrap;

        }

        article section {
            flex-grow: 1;
            flex-basis: 45%;
            border: 1px #8C8C8C solid;
            -webkit-box-shadow: 10px 10px 15px -4px $main-color;
            -moz-box-shadow: 10px 10px 15px -4px $main-color;
            box-shadow: 10px 10px 15px -4px $main-color;
            padding: 16px;
            margin: 16px;
            clear: both;
            overflow: auto;
            box-sizing: border-box;
        }

        article section#selling-points {
            flex-grow: 2;
            flex-basis: 100%;
        }

        article code {
            background: #000;
            border: 1px solid $main-color;
            color: #8C8C8C;
            page-break-inside: avoid;
            font-family: monospace;
            font-size: 15px;
            line-height: 1.6;
            margin-bottom: 1.6em;
            max-width: 100%;
            overflow: auto;
            padding: 1em 1.5em;
            display: block;
            word-wrap: break-word;
        }

        article code.before {
            float: left;
            width: 40%;
        }

        article code.after {
            float: right;
            width: 40%;
        }

        h1,
        h2,
        h3 {
            color: $h-color;
        }

        h1 {
            text-align: center;
        }

        h3 {
            text-align: center;
            font-size: 1.5em;
            padding: 32px;
            margin-bottom: 0px;
        }

        .messages {
            padding: 16px;

            .success,
            .error,
            .warning {
                border: 1px solid #8C8C8C;
                padding: 16px;
                color: #fff;
            }

            .success {
                background-color: $backcolor-success;
            }

            .error {
                background-color: $backcolor-error;

                &:hover {
                    background-color: green;
                }
            }

            .warning {
                background-color: $backcolor-warning;
            }



        }

    }
}